@import url("../../styles/vars.css");

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: var(--color-main-dark-hover);
  border-radius: var(--border-radius);
  padding: var(--padding-container);
  color: var(--color-text);
}

form button {
  background: var(--gradient-button-form);
  margin-top: 10px;
  align-self: center;
}

form span {
  color: var(--color-main-bright);
  width: 200px;
  max-width: 300px;
}
