@import url("../../styles/vars.css");
@import url("../../styles/component.css");

div.post {
  margin-bottom: 30px;
}

div.top span {
  font-weight: normal;
}

div.bottom {
  background-color: var(--color-main-dark);
  border-radius: var(--border-radius);
  padding: 10px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
}
div.bottom img {
  align-self: center;
  max-width: 400px;
  max-height: 300px;
  object-fit: cover;
}
