div.component {
  background-color: var(--color-main-dark-hover);
  padding: 10px;
  padding-top: 5px;
  border-radius: var(--border-radius);
}

div.component div.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

div.top div.options {
  display: flex;
  gap: 10px;
}
