header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(0, 197, 121);
}
header h1 {
  margin: 0;
}
header button {
  background: linear-gradient(rgb(28, 48, 40), rgb(55, 134, 103));
  color: white;
  border-style: none;
  border-radius: 7px;
  padding: 7px 14px;
  font-weight: bold;
  cursor: pointer;
}
header button:hover {
  transform: scale(1.1);
}
header button:active {
  transform: scale(1);
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 5%;
  background-color: rgb(28, 48, 40);
}
footer {
  display: flex;
  padding: 20px;
  justify-content: center;
  background-color: rgb(0, 197, 121);
  gap: 5px;
  font-style: italic;
}
footer a {
  color: white;
}

@media (orientation: portrait) {
  header {
    flex-direction: column;
    gap: 20px !important;
  }
  main {
    padding-top: 15%;
  }
}
