@import url("./vars.css");
@import url("./shared.css");

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-container);
  background-color: var(--color-main-bright);
}
header h1 {
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 5%;
  background-color: var(--color-main-dark);
}

footer {
  display: flex;
  justify-content: center;
  gap: 5px;
  background-color: var(--color-main-bright);
  padding: var(--padding-container);
  font-style: italic;
}

@media (orientation: portrait) {
  header {
    flex-direction: column;
    gap: 20px !important;
  }
  main {
    padding-top: 15%;
  }
}
