@import url("./vars.css");

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-container);
  background-color: var(--color-main-bright);
}
header h1 {
  margin: 0;
}
header button {
  background: var(--gradient-button);
  color: var(--color-text);
  border-style: none;
  border-radius: var(--border-radius);
  padding: var(--padding-button);
  font-weight: bold;
  cursor: pointer;
}
header button:hover {
  transform: var(--scale-button-hover);
}
header button:active {
  transform: var(--scale-button-active);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 5%;
  background-color: var(--color-main-dark);
}

footer {
  display: flex;
  justify-content: center;
  gap: 5px;
  background-color: var(--color-main-bright);
  padding: var(--padding-container);
  font-style: italic;
}
footer a {
  color: var(--color-text);
}

@media (orientation: portrait) {
  header {
    flex-direction: column;
    gap: 20px !important;
  }
  main {
    padding-top: 15%;
  }
}
