@import url("./vars.css");

button {
  background: var(--gradient-button);
  color: var(--color-text);
  border-style: none;
  border-radius: var(--border-radius);
  padding: var(--padding-button);
  font-weight: bold;
  cursor: pointer;
}
button:hover {
  transform: var(--scale-button-hover);
}
button:active {
  transform: var(--scale-button-active);
}

a {
  color: var(--color-text);
}
a:visited {
  color: var(--color-text);
}
